body {
    font-family: 'Roboto';
    color: #fff;
    background-color: #161616;
}

.status p {
    font-size: 1.8em;
    text-transform: capitalize;
}

header {
    margin-bottom: 30px;
}

.temp {
    cursor: pointer;
    color: #006dcc;
}

.temp:hover {
    color: #005096;
}

h1 {
    font-size: 5em;
}

.all-icon {
    margin-bottom: 20px;
}

div.hide {
    display: none;
}

.icon {
    color: #161616;
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 10rem;
}

.location {
    font-size: 2em;
}

#temp {
    font-size: 1.5em;
}